Config { 

   -- appearance
     font =         "xft:Ubuntu Mono:size=12:bold:antialias=true"
   , bgColor =      "#282a36"
   , fgColor =      "#6272a4"
   , position =     Top
   , border =       BottomB
   , borderColor =  "#6272a4"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template ="<icon=/home/viahduc/.xmobarrc/arcolinux.xbm/> Viahduc | %multicpu% | %memory% }{ %dynnetwork% | %date% | %kbd% "

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     False   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)

   -- plugins
   --   Numbers can be automatically colored according to their value. xmobar
   --   decides color based on a three-tier/two-cutoff system, controlled by
   --   command options:
   --     --Low sets the low cutoff
   --     --High sets the high cutoff
   --
   --     --low sets the color below --Low cutoff
   --     --normal sets the color between --Low and --High cutoffs
   --     --High sets the color above --High cutoff
   --
   --   The --template option controls how the plugin is displayed. Text
   --   color can be set by enclosing in <fc></fc> tags. For more details
   --   see http://projects.haskell.org/xmobar/#system-monitor-plugins.
   , commands = 

        -- weather monitor
        [ Run Weather "RJTT" [ "--template", "<skyCondition> | <fc=#4682B4><tempC></fc>°C"
                             ] 36000
        --Conky
	, Run Com ".xmonad/conkyscript" ["&"] "conky" 300

        -- network activity monitor (dynamic interface resolution)
        , Run DynNetwork     [ "--template" , "<dev>: <tx>kB/s|<rx>kB/s"
                             , "--Low"      , "1000"       -- units: B/s
                             , "--High"     , "5000"       -- units: B/s
                             , "--low"      , "#66ff99"
                             , "--normal"   , "#ff8c69"
                             , "--high"     , "#ea3c53"
                             ] 10

        -- cpu activity monitor
        , Run MultiCpu       [ "--template" , "Cpu: <total0>%|<total1>%"
                             , "--Low"      , "50"         -- units: %
                             , "--High"     , "85"         -- units: %
                             , "--low"      , "#66ff99"
                             , "--normal"   , "#ff8c69"
                             , "--high"     , "#ea3c53"
                             ] 10

        -- cpu core temperature monitor
        , Run CoreTemp       [ "--template" , "Temp: <core0>°C|<core1>°C"
                             , "--Low"      , "70"        -- units: °C
                             , "--High"     , "80"        -- units: °C
                             , "--low"      , "#66ff99"
                             , "--normal"   , "#ff8c69"
                             , "--high"     , "#ea3c53"
                             ] 50

        , Run UnsafeStdinReader
                          
        -- memory usage monitor
        , Run Memory         [ "--template" ,"Mem: <usedratio>%"
                             , "--Low"      , "20"        -- units: %
                             , "--High"     , "90"        -- units: %
                             , "--low"      , "#66ff99"
                             , "--normal"   , "#ff8c69"
                             , "--high"     , "#ea3c53"
                             ] 10

        -- battery monitor
       -- , Run Battery        [ "--template" , "Batt: <acstatus>"
       --                      , "--Low"      , "10"        -- units: %
       --                      , "--High"     , "80"        -- units: %
       --                      , "--low"      , "#ea3c53"
       --                      , "--normal"   , "#ff8c69"
       --                      , "--high"     , "#66ff99"
       --
       --                      , "--" -- battery specific options
       --                                -- discharging status
       --                                , "-o"	, "<left>% (<timeleft>)"
       --                                -- AC "on" status
       --                                , "-O"	, "<fc=#dAA520>Charging</fc>"
       --                                -- charged status
       --                               , "-i"	, "<fc=#66ff99>Charged</fc>"
       --                      ] 50

        -- time and date indicator 
        --   (%F = y-m-d date, %a = day of week, %T = h:m:s time)
        , Run Date           "<fc=#6272a4>%F (%a) %T</fc>" "date" 10

        -- keyboard layout indicator
        , Run Kbd            [ ("ca" 	     , "<fc=#ea3c53>CA</fc>")
                             , ("us"         , "<fc=#6495ed>US</fc>")
                             ]
        ]
   }
